*{
    text-align: center;
    border-radius: 5px;
    font-family: optima;
    color: white;
}
a {
    text-decoration: None;
}
body {
    background-image: url("/static/images/background.jpg");
}


.bank-name{
    display:flex;
    justify-content: flex-start;
    margin: 10px;
}
button.delete{
    
    width: 75px;
    color: red;
}

.edit-merchant {
    display: flex;
    justify-content: space-around;

}
.edit-merchant >form > button {
    width: 75px;
    color: red;
}

.edit-merchant >form > input {
    width: 75px;
    color: green;
    padding: 5px;
    margin-top: -5px;

}

.merchants{
    border: 1px  rgba(0, 0, 0, 0.714);
    margin: 10px;
    padding: 10px;
    box-shadow: 3px 3px 3px 3px rgba(201, 199, 199, 0.431);
}
.merchant_box{
    display:grid;
    grid-template-columns: 33% 33% 33%;
}

.navigate {
    border: 1px  rgba(0, 0, 0, 0.714);
    border-radius: 5px;
    padding: 20px;
    list-style: None;
    display:flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 3px 3px 3px 3px rgba(201, 199, 199, 0.431);
}

.navigate > li > a{
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
}

.new-merchant > form > div{
    padding: 5px; 
}

.new-merchant > li > input{  
    width: 150px;
    padding: 5px
}

.new-merchant > li > button{  
    width: 120px;
    color: green;
    padding: 5px;
}
.new-merchant > li > select{
    color:black;
    width: 120px;
    padding: 5px;
}
.new-merchant {
    display:flex;
    justify-content: space-evenly;
    list-style: none;
}


.drevil{
    position: absolute;
    top: 30%;
    right: 30%;
    width: 200px;
    height: 100px;
}

.delete{
    padding: 5px;
    margin-top: -5px;
    background-color: black;
}

.home-text{
    margin-top: 5%;
    margin-right: 30%;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;

}
.profile-pic{
    max-width: 200px;
    max-height: 200px;
    border-radius: 100px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.profile > div > input {
    width: 300px;
    padding: 15px;
    color: black;
    margin: 10px;
    font-size: large;
}
.profile > button {
    width: 150px;
    color: green;
    padding: 15px;
    font-size: large;
    margin: 10px;
}
.profile-edit > input{
    width: 100px;
    color: green;
    padding: 10px;
    font-size: large;
    margin: 10px;
}

.profile-edit-title{
    margin-top: 40px;
}
.profile-name{
    font-size: xx-large;
 }

.spending{
    list-style: none;
    display:flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
}

.tags{
    border: 1px  rgba(0, 0, 0, 0.714);
    margin: 10px;
    padding: 10px;
    box-shadow: 3px 3px 3px 3px rgba(201, 199, 199, 0.431);
}
.tags-box{
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.transaction{
    border: 1px  rgba(0, 0, 0, 0.714);
    margin: 10px;
    padding: 10px;
    box-shadow: 3px 3px 3px 3px rgba(201, 199, 199, 0.431);

}
.transaction-buttons > div > input{
    width: 150px;
    color: black;
    padding: 5px;
    margin: 5px;
}

.transaction-buttons > div > select {
    width: 163px;
    color: black;
    padding: 5px;
    margin: 5px;
}

.transactions-edit > div > input{
    width: 300px;
    padding: 15px;
    color: black;
    margin: 10px;
    font-size: large;
}

.transactions-edit > div > select{
    width: 332px;
    padding: 15px;
    color: black;
    margin: 10px;
    font-size: large;
}

.transactions-edit > button{
    width: 150px;
    color: green;
    padding: 10px;
    font-size: large;
    margin: 15px;
}

.transactions-edit-title{
    margin-top: 40px;
}

.transaction > ul{
    list-style: none;
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.transaction-title {
    font-weight: bolder;
    font-size: x-large;
    list-style: none;
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin-left: 1%;
    margin-right:1%;
}
