*{
    text-align: center;
    border-radius: 5px;
    font-family: optima;
    color: white;
}

body {
    /* background-image: url("/static/images/background.jpg"); */
    background-color: purple;
}

body {
    /* background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(132, 128, 226) 0%, rgb(84, 84, 219) 20%, rgba(0,212,255,1) 99%); */
}

.edit-merchant {
    display: flex;
    justify-content: space-around;

}
.edit-merchant >form > button {
    width: 75px;
    color: red;
}

.edit-merchant >form > input {
    width: 75px;
    color: green;

}
.transaction{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

.navigate {
    border: 1px  rgba(0, 0, 0, 0.714);
    border-radius: 5px;
    padding: 20px;
    list-style: None;
    display:flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 3px 3px 3px 3px rgba(201, 199, 199, 0.431);
}

.navigate > li > a{
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
}

.new_merchant > form > div{
    padding: 5px; 
}

.new_merchant > form > div > input{  
    width: 150px;
}

.new_merchant > form > button{  
    width: 120px;
    color: green;
}

.transaction-buttons . div {
    margin: 10px;
}

.merchants{
    border: 1px  rgba(0, 0, 0, 0.714);
    margin: 10px;
    padding: 10px;
    box-shadow: 3px 3px 3px 3px rgba(201, 199, 199, 0.431);
}
.merchant_box{
    display:grid;
    grid-template-columns: 33% 33% 33%;
}


.drevil{
    display:flex;
    justify-content: flex-end;
    align-content: center;
    margin-right: 20%;
    
}

.home-text{
    margin-top: 5%;
    margin-right: 30%;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;

}
.profile-pic{
    max-width: 150px;
    max-height: 150px;
    border-radius: 75px;
}

.spending{
    list-style: none;
    display:flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
}
a {
    text-decoration: None;
}
.tags{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    
}
.tags-box{
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.fa fa-check{
    display:contents;
    font-size: 50%;
}
.fa fa-times{
    display:contents;
    font-size: 50%;
}