*{
    text-align: center;
    border-radius: 5px;
    font-family: optima;
    color: white;
}
a {
    text-decoration: None;
}
body {
    /* background-image: url("/static/images/background.jpg"); */
    background-color: purple;
}

body {
    /* background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(132, 128, 226) 0%, rgb(84, 84, 219) 20%, rgba(0,212,255,1) 99%); */
}
button.delete{
    
    width: 75px;
    color: red;
}

.edit-merchant {
    display: flex;
    justify-content: space-around;

}
.edit-merchant >form > button {
    width: 75px;
    color: red;
}

.edit-merchant >form > input {
    width: 75px;
    color: green;

}

.merchants{
    border: 1px  rgba(0, 0, 0, 0.714);
    margin: 10px;
    padding: 10px;
    box-shadow: 3px 3px 3px 3px rgba(201, 199, 199, 0.431);
}
.merchant_box{
    display:grid;
    grid-template-columns: 33% 33% 33%;
}

.navigate {
    border: 1px  rgba(0, 0, 0, 0.714);
    border-radius: 5px;
    padding: 20px;
    list-style: None;
    display:flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 3px 3px 3px 3px rgba(201, 199, 199, 0.431);
}

.navigate > li > a{
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
}

.new_merchant > form > div{
    padding: 5px; 
}

.new_merchant > form > div > input{  
    width: 150px;
}

.new_merchant > form > button{  
    width: 120px;
    color: green;
}



.drevil{
    position: absolute;
    top: 30%;
    right: 30%;
    width: 200px;
    height: 100px;
}

.home-text{
    margin-top: 5%;
    margin-right: 30%;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;

}
.profile-pic{
    max-width: 150px;
    max-height: 150px;
    border-radius: 75px;
}

.spending{
    list-style: none;
    display:flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
}

.tags{
    border: 1px  rgba(0, 0, 0, 0.714);
    margin: 10px;
    padding: 10px;
    box-shadow: 3px 3px 3px 3px rgba(201, 199, 199, 0.431);
}
.tags-box{
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.transaction{
    border: 1px  rgba(0, 0, 0, 0.714);
    margin: 10px;
    padding: 10px;
    box-shadow: 3px 3px 3px 3px rgba(201, 199, 199, 0.431);

}

.transaction > ul{
    list-style: none;
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.transaction-title {
    font-weight: bolder;
    font-size: x-large;
    list-style: none;
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
