{% extends 'base.html'%}

{% block content %}

<h1>Merchant ID: {{merchant.id}}</h1>
<form action="/merchant/{{merchant.id}}/edit_complete" method="post">
    <div>
        <input type="text" id="name" name="name" placeholder="Merchant" required >
    </div>
    <div>
        <input type="text" id="category" name="category" placeholder="Category" required >
    </div>
    <div>
        <label for="active">Active:</label>
        <select id="active" name="active">
        <option value="true">True</option>
        <option value="false">False</option>
        </select>
      </div>
    
    <button type="submit">Submit</button>
    </form>

{% endblock %}