{% extends 'base.html'%}

{% block content %}

    <a>Create New Merchant</a>

<form action="/merchants" method="post">
<div>
    <input type="text" id="name" name="name" placeholder="Merchant" required >
</div>
<div>
    
    <input type="text" id="category" name="category" placeholder="Category" required >
</div>
<button type="submit">Add Merchant</button>
</form>
<div class="merchant_box">
{% for merchant in all_merchants %}
<div class="merchants">
 <h3>{{merchant.name}}</h3>
 <p><a href="/merchant/{{merchant.id}}/transactions">View Purchases</a></p>       <!-- this will link to purchases with that id -->
 <p>Merchant ID: {{merchant.id}}</p>  
 <p>{{merchant.category}}</p>

    <form action="/merchants/{{merchant.id}}/delete" method="POST">
        <button class="delete">Delete</button>
    </form>  
    <form action="/merchant/{{merchant.id}}/edit">
        <input type="submit" value="Edit"/>
    </form>   
</div>      
{% endfor %}
</div>
{% endblock %}