{% extends 'base.html'%} {% block content %}
  <div class="new_merchant">
    <h2>Create New Merchant</h2>
 
    <form action="/merchants" method="post">
      <div>
        <input type="text" id="name" name="name" placeholder="Merchant" required />
      </div>
      <div>
        <input
          type="text"
          id="category"
          name="category"
          placeholder="Category"
          required
        />
      </div>
      <div>
        <label for="active">Active:</label>
        <select id="active" name="active">
          <option value="true">True</option>
          <option value="false">False</option>
        </select>
      </div>
      <button type="submit">Add Merchant</button>
    </form>
  </div>

<div class="merchant_box">
  {% for merchant in all_merchants %}
  <div class="merchants">
    <h3>{{merchant.name}}</h3>
    <p><a href="/merchant/{{merchant.id}}/transactions">View Purchases</a></p>
    <!-- this will link to purchases with that id -->
    <p>Merchant ID: {{merchant.id}}</p>
    <p>{{merchant.category}}</p>
    
    <div>
        {% if merchant.active == True %}
            <p>Active: &#x2713;</p>
        {% else %}
            <p>Active: &#10060;</p>
        {% endif %}
    </div>
  <div class="edit-merchant">
    <form action="/merchant/{{merchant.id}}/edit">
      <input type="submit" value="Edit" />
    </form>

    <form action="/merchants/{{merchant.id}}/delete" method="POST">
      <button class="delete">Delete</button>
    </form>

    
  </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
