{% extends 'base.html'%}

{% block content %}

<p>User ID: {{user.id}}</p>
<form action="/profile/{{user.id}}/update" method="post">
    <div>
        <input type="text" id="first_name" name="first_name" value="{{user.first_name}}" placeholder="First Name" required >
    </div>
    <div>
        <input type="text" id="last_name" name="last_name" value="{{user.last_name}}" placeholder="Last Name" required >
    </div>
    <div>
        
        <input type="number" id="budget" name="budget" value="{{user.budget}}" placeholder="Budget" min="0" value="0" step=".01"  required >
    </div>
    <button type="submit">Submit</button>
    </form>


{% endblock %}