{% extends 'base.html'%}

{% block content %}
<h2 class="input-form-title">Order no: {{transaction.id}}</h2>

<form class="input-form" action="/transaction/{{transaction.id}}/edit" method="post">
    <div>
        <select id="merchant" name="merchant_id">
            {% for merchant in merchants %}
            <option value="{{merchant.id}}"
            {% if transaction.merchant.name  == merchant.name %} selected = "selected" {% endif %}>{{merchant.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <input type="text" id="tag" name="tag" value="{{transaction.tag}}" placeholder="Tag" required >
    </div>
    <div>
        <input type="date" autocomplete="on" id="date" name="date" value="{{transaction.date}}"required>
    </div>
    <div>
        <input type="number" id="amount" name="amount" value ="{{transaction.amount}}" placeholder="Amount" min="0" value="0" step=".01" required>
    </div>

    <button type="submit">Submit</button>
</form>

{% endblock %}