{% extends 'base.html'%}

{% block content %}
<header>

</header>
<ul class="spending">
    <li>Total Spend: £{{total}}</li>
    <li>Budget: £{{user.budget}}</li>
    <li>{{spending}}</li>
</ul>

<ul class="transaction-title">
    <li>Merchant</li>
    <li>Tag</li>
    <li>Date</li>
    <li>Amount</li>
    <li>Delete</li>
</ul>
{% for transaction in all_transactions %}
<a href="/transaction/{{transaction.id}}"><div class="transaction">
        <ul> 
            <li>{{transaction.merchant.name}}</li>
            <li>{{transaction.tag}}</li>
            <li>{{transaction.date}}</li>
            <li>£{{transaction.amount}}</li>
    
 
                <form action="/transaction/{{transaction.id}}/delete" method="POST">
                <button class="delete">Delete</button>
            </form>    
        </ul>   
    </div></a>
    

    
{% endfor %}

{% endblock %}