{% extends 'base.html'%}

{% block content %}
<header>
    <a href="/transactions/new">Create New Transaction</a>
</header>
<ul class="spending">
    <li>Total Spend: £{{total}}</li>
    <li>Budget: £{{user.budget}}</li>
    <li>{{spending}}</li>
</ul>

{% for transaction in all_transactions %}
    <div class="transaction">
            <a href="/transaction/{{transaction.id}}">{{transaction.merchant.name}}--{{transaction.tag}}--{{transaction.date}}--  £{{transaction.amount}}</a>   
                <form action="/transaction/{{transaction.id}}/delete" method="POST">
                <button class="delete">Delete</button>
            </form>    
    </div>
    

    
{% endfor %}

{% endblock %}